  .heading
  {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div
  {
    background: white ; 
    float: none;
    padding: 10px;
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    white-space: pre-line;
  }

  canvas{
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px teal;
    margin-top: 160px;
  }

  .footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background: grey;
    line-height: 3;
    text-align: center;
  }
 